#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
	justify-content: center;
	background: #d2cdb2;

	& header.header, footer.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 3rem;
		background: #eae4b9;
	}

	& main.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.5rem 2rem;
		margin: auto 0 0;
	}
}
