.bike-details--wrapper {
	display: flex;
	overflow: auto;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding-bottom: 3rem;
}

.bike-details {
	margin: auto;
	width: 360px;
	height: 500px;
	border-radius: 1rem;
	border: #d2cdb2 solid 2px;
}

.bike-details--title {
	color: #a68c14;
	font-size: 1.5rem;
	font-weight: bold;
}

.bike-details--image {
	height: auto;
	width: 100%;
	object-fit: cover;
	border-radius: 1rem;
	border: #a68c14 solid 2px;
}

.bike-details--unit {
	display: flex;
	flex-direction: row;
}