#app header.header, footer.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	background: #20283d;
	color: #d2cdb2;
	font-weight: bold;
}

.header__logo {
	width: auto;
	height: 150px;
}

.header__logo.squared {
	width: 30%;
	height: auto;
	align-self: center;
}

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__container.horizontal {
	flex-direction: row;
	width: 100%;
}

.header__container--third {
	min-width: 127px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation {
	flex-direction: row;
	gap: 20px;
}

.navigation.vertical {
	flex-direction: column;
	gap: 10px;
}

.navigation a, .navigation div {
	cursor: pointer;
	background: white;
	border: #a68c14 solid 2px;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	color: #a68c14;
	font-size: 1rem;
	font-weight: bold;
	white-space: pre-line;
}

.navigation.vertical a, .navigation.vertical div {
	width: 100%;
}