.add-form {
	display: flex;
	flex-direction: row;
	margin-top: 1.5rem;
}

.add-form__input {
	width: 100%;
	padding: 0.5rem;
	border: #a68c14 solid 2px;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	background: white;
}

.add-form__input:focus-visible {
	outline: #a68c14 solid 2px;
	border-color: #d2cdb2;
	outline-offset: 2px;
}

.add-form__button {
	margin-left: 2rem;
	padding: 0.5rem 1rem;
	border: #a68c14 solid 2px;
	border-radius: 0.5rem;
	text-decoration: none;
	background: white;
	color: #a68c14;
	font-size: 1rem;
	font-weight: bold;
	white-space: nowrap;
}

.add-form__button:disabled {
	opacity: 0.6;
}